/* COMMON STYLE START*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Heebo", sans-serif;
  color: #21243d;
}

.container {
  max-width: 860px;
  margin: 0 auto;
  /* border: 1px solid #000; */
}

h1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
}
h2 {
  font-size: 22px;
  line-height: 60px;
  font-weight: normal;
}

h3 {
  font-size: 30px;
  margin-bottom: 15px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
/* COMMON STYLE END*/

/* HEADER STYLE START */
.menu {
  display: flex;
  justify-content: flex-end;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 45px;
  margin-bottom: 100px;
}

.menu a {
  padding: 15px;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

.menu a.active {
  color: #ff6464 !important;
}

.about-user {
  display: flex;
  justify-content: space-between;
  color: #21243d;
  border-top: 34px solid #c4c4c4;
}

.about-user div {
  width: 500px;
}

.about-user img {
  width: 243px;
  height: 243px;
}

.btn {
  background: #ff6464;
  border-radius: 2px;
  border: none;
  color: #fff;
  font-size: 20px;
  padding: 12px 20px;
  margin-top: 35px;
}

.burger {
  width: 30px;
  height: 20px;
  margin-left: auto;
  display: none;
  border: none;
  background-image: url(images\\menu.svg);
  background-color: transparent;
  cursor: pointer;
}

/* TABLET/MOBILE INDEX VERSION START */
@media (max-width: 768px) {
  .menu {
    padding-top: 20px;
  }

  .menu a {
    display: none;
  }

  .burger {
    display: block;
  }

  .about-user {
    flex-direction: column;
    align-items: center;
    border: none;
  }

  .about-user div {
    order: 1;
    text-align: center;
    width: auto;
  }

  .about-user img {
    width: 180px;
    height: 180px;
    margin-bottom: 50px;
    box-shadow: -3px 10px 0 #edf7fa;
    border-radius: 50%;
  }

  h1 {
    font-size: 32px;
    line-height: 40px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }
}
/* TABLET/MOBILE INDEX VERSION END */

/* BLOG PAGE */
.post {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 30px;
}

.post p {
  margin-top: 15px;
}

.date {
  font-size: 20px;
  border-right: 1px solid #000;
  padding-right: 25px;
  line-height: 29 px;
}

.topic {
  font-size: 20px;
  color: #8695a4;
  padding-left: 25px;
}

/* TABLET/MOBILE BLOG VERSION START */
@media (max-width: 768px) {
  .container {
    padding: 0 18px;
  }

  h3 {
    font-size: 26px;
  }

  .date {
    font-size: 20px;
    padding-right: 15px;
  }

  .topic {
    font-size: 16px;
    padding-left: 15px;
  }
}
/* TABLET/MOBILE BLOG VERSION END */

/* FEATURED WORKS START */
.work {
  display: flex;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
}

.work img {
  border-radius: 6px;
  width: 250px;
  height: 180px;
  margin-right: 18px;
}

.work h3 {
  margin-top: 0;
}

.badge {
  background-color: #142850;
  color: #fff;
  font-size: 18px;
  border-radius: 16px;
  padding: 0px 10px;
}
.work p {
  margin-top: 25px;
}

@media (max-width: 768px) {
  .featured-works {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    text-align: center;
    align-items: center;
  }

  .work {
    flex-direction: column;
    width: 345px;
  }

  .work img {
    width: 100%;
    margin-bottom: 10px;
  }

  .works-page h3 {
    font-size: 24px;
  }
}

/* FEATURED WORKS END*/

/* ARTICLE-PAGE START*/
.article-page .container {
  max-width: 680px;
}
.article-page h1 {
  font-size: 34px;
  max-width: 500px;
}
.article-page h2 {
  font-size: 30px;
  font-weight: bold;
}

.article-page h3 {
  font-size: 24px;
  font-weight: bold;
}

.article-badge {
  background: #ff7c7c;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 16px;
  padding: 0 10px;
  margin-right: 17px;
  margin-bottom: 25px;
  display: inline-block;
}

.article-topic {
  font-size: 20px;
}

.article-page img {
  width: 100%;
  margin-bottom: 27px;
}

@media (max-weith: 768px) {
  .article-page h1 {
    font-size: 30px;
  }
  .article-page h2 {
    font-size: 26px;
    text-align: left;
  }

  .article-page h3 {
    font-size: 20px;
    text-align: left;
  }

  .article-topic {
    font-size: 18px;
  }
}

/* ARTICLE-PAGE END*/ ;
